

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  body {
    background-color: #DFD9AB;
  }
  /* Style the navigation menu */
  .navbar {
    overflow: hidden;
    background-color: #7E0000;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .navbar #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .navbar a {
    color: #DFD9AB;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .navbar a.icon {
    background: #7E0000;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .navbar a:hover {
    background-color: #7E0000;
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #191312;
    color: #DFD9AB;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  body {
    background-color: #DFD9AB;
  }
  /* Style the navigation menu */
  .navbar {
    overflow: hidden;
    background-color: #7E0000;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .navbar #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .navbar a {
    color: #DFD9AB;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .navbar a.icon {
    background: #7E0000;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .navbar a:hover {
    background-color: #7E0000;
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #191312;
    color: #DFD9AB;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  body {
    background-color: #DFD9AB;
  }
  .bars {
    display: flex;
  }
  /* Style the navigation menu */
  .navbar {
    overflow: hidden;
    background-color: #7E0000;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .navbar #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .navbar a {
    color: #DFD9AB;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .navbar a.icon {
    background: #7E0000;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .navbar a:hover {
    background-color: #7E0000;
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #191312;
    color: #DFD9AB;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  body {
    background-color: #DFD9AB;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  body {
    background-color: #DFD9AB;
  }
}

.bars {
  display: none;
}

h1 {
  font-family: 'Bitter', sans-serif;
  font-size: 3em;
  color: #5e1211;
  text-align: center;
  }

  body, html {
  height: 100%;
  background-color: #DFD9AB;
  font-family: 'Hind', sans-serif;
  }

/*@font-face {
    font-family: Bitter Bold;
    src: url(Bitter-VariableFont_wght.ttf);
    font-family: Hind;
    src: url(Hind-Regular.ttf);
  }*/

  /* header */

  .logomain img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

.logo img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
  
  .header-paralax {
    background-image: url('/images/beansblur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: fixed;
    height: 600px;
  }

  .header-paralax-small-contact {
    background-image: url('/images/beansblur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: fixed;
    height: 130px;
    margin-top: -5%;
  }

  .header-paralax-small-about {
    background-image: url('images/beansblur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: fixed;
    height: 130px;
    margin-top: -5%;
  }

  .header-paralax-small-menu {
    background-image: url('/images/beansblur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: fixed;
    height: 130px;
    margin-top: -5%;
  }
  
  .header-paralax-small-location {
    background-image: url('/images/beansblur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: fixed;
    height: 130px;
    margin-top: -5%;
  }

  .logo {
    margin-top: 10%;
}

.logomain {
  animation: fadeIn 5s;
  margin-top: 10%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .header-paralax h1 {
    text-align: center;
    color: #fff;
    text-shadow: 2px 3px 1px #111111;
    font-family: 'Hind', serif;
    font-weight: 900;
    letter-spacing: 0.16em;
    font-size: 6em;
    padding: 210px 0;
  }
  
    /* main */
  
  main {
    background: #fff;
    position: relative;
    top: 600px;
    font-family: 'Hind', sans-serif;
    color: #111111;
    overflow: hidden;
  }

  .subpage {
    background: #DFD9AB;
    position: relative;
    top: 100px;
    font-family: 'Hind', sans-serif;
    color: #111111;
    overflow: hidden;
  }
  
  .container {
    width:100%;
    padding: 0 26%;
    background-color: #DFD9AB;
  }
  
  .container h1 {
    padding: 1.2em 0 0 0;
    font-size: 3.5em;
    color: #5e1211;
  }
  .container h2 {
    padding:0 0 0.8em 0.4em;
    font-size:1.5em;
  }
  .container p {
    padding-bottom: 1em;
    font-size:1.6em;
    line-height: 1.5;
    color: #543136;
  }

  .darkcontainer {
    width:100%;
    padding: 0 26%;
    background-color: #191312;
  }
  
  .darkcontainer h1 {
    padding: 1.2em 0 0 0;
    font-size: 3.5em;
    color: #DFD9AB;
  }
  .contaidarkcontainerner h2 {
    padding:0 0 0.8em 0.4em;
    font-size:1.5em;
  }
  .darkcontainer p {
    padding-bottom: 1em;
    font-size:1.6em;
    line-height: 1.5;
    color: #DFD9AB;
  }

    /* navigation */

  .navbar{
    position:fixed;
    overflow:hidden;
    width: 100%;
    z-index: 2;
    font-family: 'Hind', sans-serif;
    font-weight:lighter;
    font-size: 1em;
    }
    .navbar a{
        text-decoration:none;
        text-align: center;
        padding: 14px 16px;
        float: left;
        color: #DFD9AB;
    }
    .navbar a:hover{
        font-weight: bold;
        color: white;
    }

    ul {
      list-style-type: none;
      margin: 0;
    }
    

    .content
    {
        
        position:absolute;
        min-width:160px;
        z-index:1;
        box-shadow: 0px 1px 1px 1px black;
        margin-top:50px;
        display:none;
    
    }
    .content a{
        display:block;
        float:none;
        background-color:black;
        text-decoration:none;
        text-align:left;
        padding:14px 16px;
        
    }
    .dropdown:hover .content
    {
       display:block;
    }

    /* 3 boxes */  

    .column {
      float: left;
      width: 33.33%;
      margin-top: 40px;
      padding: 10px;
      height: 500px;
      font-family: 'Bitter', sans-serif;
      font-weight:bold;
      color: #191312;
      text-align: center;
      padding: 70px;
    }
  
    .column li{
      color: #191312;
      text-align: left;
      line-height: 2em;
    }

    .column a {
      color: #7E0000;
      text-decoration: none;
    }

    .column a:hover {
      color: white;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .column2 {
      float: left;
      width: 50%;
      margin-top: 40px;
      padding: 10px;
      height: 600px;
      font-family: 'Bitter', sans-serif;
      font-weight:bold;
      color: white;
      text-align: center;
      padding: 70px;
    }
  
    .column2 li{
      color: white;
      text-align: left;
      line-height: 2em;
    }
    
    .row2:after {
      content: "";
      display: table;
      clear: both;
    }

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

  /* subpage mains */

.normal-container{
  background-color: #191312;
  border-top: 4px solid xwhite;
  padding:30px 40px;
  font-family: 'Bitter', sans-serif;
  margin: auto;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
  }

  
 .normal-container .inside-normal{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  font-size:1em;
  border: 2px solid #883E24;
  z-index: 2;
  }
  
  .normal-container .inside-normal a{
  text-decoration:none;
  color:white;
  transition:0.5s;
  }
  
  .normal-container .inside-normal a:hover{
  color:#fff;
  }
  
 .normal-container .inside-normal ul{
  width:100%;
  }
  
  .normal-container .inside-normal ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .normal-container .inside-normal a i{
  font-size:2em;
  margin:0% 1%;
  }

    /* menu */

  .menu-body {
    max-width: 680px;
    margin: 0 auto;
    display: block;
    color: #DFD9AB;
  }
  
  .menu-section {
    margin-bottom: 80px;
  }
  
  .menu-section-title {
    display: block;
    font-weight:normal;
    margin: 20px 0; 
    text-align: Center;
  }
  
  .menu-item {
    margin: 35px 0;
    font-size: 18px;
  }
  
  .menu-item-name{
    font-family: 'Hind';
    font-weight: bold;
    border-bottom: 2px dotted #883E24;
    padding-left: 5%;
  }
  
  .menu-item-description {
    font-style: italic;
    font-size: .9em;
    line-height: 1.5em;
    font-family: 'Hind';
    padding-left: 5%;
  }
  
  .menu-item-price{
    float: right;
    font-weight: bold;
    font-family: 'Hind';
    margin-top: -22px;
    padding-right: 5%;
  }
  
/* socials */

.socials{
  font-family: 'Hind', sans-serif;
  text-align:left;
  }
  
  .socials .socials-center{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:white;
  font-size:1em;
  }
  
  .socials .socials-center a{
  text-decoration:none;
  color:white;
  transition:0.5s;
  }
  
  .socials .socials-center a:hover{
  color:#fff;
  }
  
  .socials .socials-center ul{
  width:100%;
  }
  
  .socials .socials-center ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .socials .socials-center a i{
  font-size:2em;
  margin:0% 1%;
  }

  /* footer */

.footer{
  border-top: 10px solid #7E0000;
  background:#DFD9AB;
  padding:30px 0px;
  font-family: 'Hind', sans-serif;
  text-align:center;
  }
  
  .footer .frow{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:#191312;
  font-size:1em;
  }
  
  .footer .frow a{
  text-decoration:none;
  color:#191312;
  transition:0.5s;
  }
  
  .footer .frow a:hover{
    color:#191312;
  }
  
  .footer .frow ul{
  width:100%;
  }
  
  .footer .frow ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .frow a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .frow ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .frow a i{
  margin:0% 3%;
  }
  }
  